.footer-container {
  box-shadow: 0 50vh 0 50vh #FFF;
}

.footer {
  text-align: center;
  background-color: #343A40;
  width: 100%;
  box-shadow: 0 50vh 0 50vh #343A40;
  bottom: 0;
  position: fixed;
}

.image-share {
  font-size: 20px;
  vertical-align: middle;
  opacity: 0.8;
  color: white;
}
